/*
* @Author: suwei
* @Date:   2017-10-30 16:53:11
* @Last Modified by:   suwei
* @Last Modified time: 2017-11-02 10:09:11
*/
/*侧边导航样式*/
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #f40;
    background-color: rgba(255, 68, 0, 0.4196078431372549);
}
.nav-pills>li> a{
  color: #555;
}