/*
* @Author: Administrator
* @Date:   2017-10-29 16:49:35
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-29 17:44:17
*/
.navbar .navbar-header .logo{
	font-size: 34px;
    color: #c60023;
    font-weight: 700;
    text-decoration: none;
}
.navbar-collapse .navbar-nav.user-login{
	display: none;
}

.navbar .navbar-right .cart-icon {
	margin-right: 5px;
}