<!DOCTYPE html>
<html lang="en">
<head>
  <%=require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - suwei的电商平台</title>
</head>
<body>
	<%=  require('html-loader!./layout/nav.html') %>
	<%=  require('html-loader!./layout/header.html') %>
	<div class="container seckill">
		<div class="panel panel-danger">
				  <!-- Default panel contents -->
				  <div class="panel-heading text-center">秒杀列表</div>
				  <div class="panel-body list">
				  	
				  </div>			
				</div>	
	</div>
  
	<%=  require('html-loader!./layout/footer.html') %>
</body>
</html>