<!DOCTYPE html>
<html lang="en">
<head>
  <%=require('html-loader!./layout/head-common.html') %>
  <title><%= htmlWebpackPlugin.options.title %> - suwei的电商平台</title>
</head>
<body>
	<%=  require('html-loader!./layout/nav.html') %>
	<%=  require('html-loader!./layout/header.html') %>
	<div class="container">
		<div class="row crumb">
			<div class="col-lg-12">
				<ol class="breadcrumb">
				  <li><a href="./index.html">SWMall</a></li>
				  <li class="active"><a href="#">修改密码</a></li>
				</ol>
			</div>		
		</div>
		<div class="row">
			<div class="col-lg-2">
				<%=  require('html-loader!./layout/nav-side.html') %>
			</div>
			<div class="col-lg-10 passUpdate-content">
				<!-- <%=  require('html-loader!./layout/loading.html') %> -->
				<div class="panel panel-primary user-pass-update-panel">
				  <div class="panel-heading ">修改密码</div>
				  <div class="panel-body">
					  <form class="form-horizontal">
					  <div class="form-group">
					    <label class="col-lg-2 control-label">旧密码：</label>
					    <div class="col-lg-3">
					     <input type="password" class="form-control" id="inputPasswordOld" >
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-lg-2 control-label">新密码：</label>
					    <div class="col-lg-3">
					      <input type="password" class="form-control" id="inputPasswordNew">
					    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-lg-2 control-label">确认新密码：</label>
					    <div class="col-lg-3">
					     <input type="password" class="form-control" id="inputPasswordConf">
					    </div>
					  </div>
					  <div class="form-group">
					  	<div class="col-lg-offset-2 col-lg-10">
							<button type="button" class="btn btn-primary"  id="passReset">确定</button>
					    </div>   
					  </div>

					</form>

				  </div>
				</div>
			</div>
		</div>
		
	</div>
  
	<%=  require('html-loader!./layout/footer.html') %>
</body>
</html>