/*
* @Author: Administrator
* @Date:   2017-10-29 16:15:33
* @Last Modified by:   suwei
* @Last Modified time: 2017-10-31 08:46:17
*/
.nav-simple {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo {
    font-size: 26px;
    font-weight: 700;
    color: #FF4200;
    text-decoration: none;
    cursor: pointer;
}